doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery.1.9.1.min.js')
  body
    header
      h1
       a(href="/") {{LOGO}}
    block content