extends layout

block content
  span(id='phone_link') http://localhost:2999/c/#{locals.connection_id}
  <br/>
  a(id='test') asdsad

  div(id='feedback') no input

  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('http://localhost:2999');
    socket.on('news', function (data) {
      console.log(data);
    });

    socket.on('movement', function(data) {
      $('#feedback').html(data);
    });

    $('#test').on('click', function(){
      socket.emit('my other event', { my: 'data' });
    });
