doctype 5
html
  head
    title WiiPhone
  body
    header
      h1
       a(href="/") {{LOGO}}
    div Congratulations.  Now wave your phone around and lets see if we can't do something cool with it



  script(src="/socket.io/socket.io.js")
  script(src="/scripts/wiimote.js")



